#main-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-columns: auto auto auto;

}
#item1 {
       grid-column-start: 1;
       grid-column-end:3;
       grid-row-start: 1;
       grid-row-end: 4;
       background-color:darkblue;
}

#item2{
    grid-row-start: 1;
    grid-row-end: 4;
background-color: bisque;
}

#item3{

 background-color: firebrick;
}

#item4{

   background-color: orange;  
}

#item5{

 background-color: green;
}

#item6{

   background-color: coral;
}

#item7{

    background-color: yellow;
}

#item8{

  background-color: purple;
}

#item9{

   background-color:brown;
}