/* Pamatstili */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #555;
    text-align: center;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
}

/* Galvenais saturs */
#main-container {
    display: flex;
    margin: 10px;
}

#side-content {
    width: 30%;
    background-color: #f0f0f0;
    padding: 10px;
}

#photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 70%;
    gap: 10px;
}

#photo-container img {
    width: 100%;
    height: auto;
}
